.dialog {
  width: calc(100vw - 96px);
  height: calc(100vh - 96px);
  max-width: 480px;
  max-height: 640px;
  &.small {
    height: unset;
    max-height: calc(100vh - 96px);
  }
  &.wide {
    max-height: 800px;
    max-width: 1080px;
  }
}

.dialog-content {
  margin: 0 -24px;
  padding: 0 24px;
}
