<div class="dialog flex flex-col" [class.small]="small" [class.wide]="wide">
  <div class="pb-3 flex">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="dialog-content overflow-auto flex-grow">
    <ng-content></ng-content>
  </div>
  <div class="pt-3 flex">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
