@import '../../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;
.my-font {
  font-family: My-Font, sans-serif;
}

#main-page {
  background-color: white;
  #main-header {
    height: 42.10rem;
    .main-header-text {
      color: $light-theme-light;
      a {
        color: $dark-theme-dark;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.darkMode {
  #main-page {
    background-color: black;
    #main-header {
      .main-header-text {
        color: $dark-theme-dark;
        a {
          color: $light-theme-dark;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #main-page {
    #main-header {
      height: 41.00rem;
    }
  }
}

@media only screen and (max-width: 510px) {
  #main-page {
    #main-header {
      height: 45.00rem;
    }
  }
}

@media only screen and (max-width: 420px) {
  #main-page {
    #main-header {
      height: 50.00rem;
    }
  }
}

@media only screen and (max-width: 360px) {
  #main-page {
    #main-header {
      height: 54.00rem;
    }
  }
}

