<div [ngClass]="currentThemeClass">
  <section id='main-page'>
    <div id='main-header' class='sm:flex h-36'>
      <div class='w-full sm:w-3/5 pl-8 md:pl-24 xl:pl-44 flex justify-center p-4'>
        <div class='self-center main-header-text'>
          <div>
            <span class='text-3xl lg:text-5xl my-font'>Hello & welcome!</span>
          </div>
          <div>
            <div class='text-2xl lg:text-3xl my-font my-6 lg:my-8'>
            Hi! I'm Denis, a front-end developer from Ekaterinburg, based in Prague.
            </div>
            <div class='text-2xl lg:text-3xl my-font'>
              I specialize in development of web-applications by using Angular.
              Please find some of the most interesting cases from my <a [routerLink]="['/works']">works</a> and full <a (click)='openGitlab()'>source codes</a> to learn more.
              <angular-emojis [name]="'smile'"> </angular-emojis>
            </div>
          </div>
        </div>
      </div>

      <div class='w-full sm:w-2/5 flex justify-center pr-8 p-4'>
        <div class='self-center'>
          <img
            [class.hidden]="currentThemeClass === 'darkMode'"
            src="assets/images/my-pic-light.png"
            alt="my_picture"
            class="w-60 lg:w-80 mx-2 cursor-pointer"
            matTooltip="Want to learn more about me?"
            (click)='openAbout()'
          />
          <img
            [class.hidden]="currentThemeClass === ''"
            src="assets/images/my-pic-dark.png"
            alt="my_picture"
            class="w-60 lg:w-80 mx-2 cursor-pointer"
            matTooltip="Want to learn more about me?"
            (click)='openAbout()'
          />
        </div>
      </div>
    </div>
  </section>
</div>
