@import '../../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;

.my-font {
  font-family: My-Font, sans-serif;
}

mat-card {
  padding: 0 !important;
}

#works-page {
  min-height: 700px;
  background-color: $light-theme-dark;
  .works-header {
    color: $light-theme-light;
  }
  .works-date {
    color: $dark-theme-light;
  }
  .dot {
    color: $light-theme-primary;
  }
}

.darkMode {
  #works-page {
    background-color: $dark-theme-dark;
    .works-header {
      color: $dark-theme-light;
    }
    .works-date {
      color: $dark-theme-light;
    }
    .dot {
      color: $dark-theme-primary;
    }
  }
}

@media (max-width: 580px) {
  .mat-card-cont {
    display: block !important;
    img {
      margin: auto;
    }
  }
}
