<div [ngClass]='currentThemeClass'>
  <section id="works-page">
    <div class='pt-20 pb-16 px-3 text-center my-font text-3xl lg:text-5xl works-header'>
      Please find some cases from my professional practices below<span class='dot'>.</span>
    </div>

    <div *ngIf="worksLoading === true" class="px-4 text-center flex justify-center">
      <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="{ 'hidden': worksLoading === true }">
      <div class="flex justify-center">
        <mat-card class="w-3/4">
          <div class="text-2xl text-center">
            Posts are coming soon, please view
            <a class="text-blue-700" target="_blank" href="https://gitlab.com/varaksindp">
              Gitlab repository.</a></div>
        </mat-card>
      </div>
      <!--      <div class='grid 2xl:grid-cols-2 gap-12 px-8 md:px-24 xl:px-44 pb-20'>-->
      <!--        TODO finalize posts-->
      <!--            <div *ngFor='let post of posts; let idx = index'>-->
      <!--              <mat-card (click)='toDetail(post.id)' class='cursor-pointer'>-->
      <!--                <div class='p-6 flex mat-card-cont'>-->
      <!--                  <img src='{{post.image}}' alt='{{post.name}}' class='w-44'>-->
      <!--                  <div class='px-8'>-->
      <!--                    <div class='text-2xl my-font'>{{ post.name }}</div>-->
      <!--                    <div class='works-date my-font'>{{ post.date }}</div>-->
      <!--                    <div class='text-lg my-font mt-2'>{{ post.description }}</div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--              </mat-card>-->
      <!--            </div>-->
      <!--      </div>-->
    </div>
  </section>
</div>
