<apw-ui-dialog [small]="true">
  <ng-container header>
    <h5 class="h5 mx-auto">{{ 'filters.filterTitle' | translate: { label: labelKey | translate } }}</h5>
  </ng-container>
  <ng-container body>
    <div class="px-3">
      <form autocomplete="off">
        <mat-form-field appearance="fill" class="w-full mb-3">
          <mat-label>{{ 'filters.value' | translate }}</mat-label>
          <mat-select [formControl]="value" required>
            <mat-option *ngFor="let option of options | async" [value]="option.value">
              {{ option.labelKey ? (option.labelKey | translate) : option.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </ng-container>
  <ng-container footer>
    <button mat-stroked-button (click)="close()" class="mr-auto">
      {{ 'buttons.close' | translate }}
    </button>
    <apw-ui-spinner *ngIf="loading | async" class="ml-2"></apw-ui-spinner>
    <button *ngIf="!creating && !required" mat-raised-button color="warn" (click)="remove()" class="ml-2">
      {{ 'buttons.remove' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="apply()" [disabled]="value.invalid || (loading | async)" class="ml-2">
      {{ 'buttons.apply' | translate }}
    </button>
  </ng-container>
</apw-ui-dialog>
