@use '~@angular/material' as mat;

@import "~@angular/material/theming";

@include mat.core();

$my-theme-primary: mat.define-palette(mat.$blue-palette, 200, 100, 600);
$my-theme-accent: mat.define-palette(mat.$blue-palette, 700, 100, 900);

$my-theme-warn: mat.define-palette(mat.$red-palette);

$my-default-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-theme-primary,
        accent: $my-theme-accent,
        warn: $my-theme-warn,
      ),
    )
);

@include mat.all-component-themes($my-default-theme);

$my-theme-dark-primary: mat.define-palette(mat.$blue-grey-palette, 500, 10, 700);
$my-theme-dark-accent: mat.define-palette(mat.$blue-grey-palette, 100, 50, 200);


$my-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-theme-dark-primary,
        accent: $my-theme-dark-accent,
        warn: $my-theme-primary,
      ),
    )
);

.darkMode {
  @include mat.all-component-colors($my-dark-theme);
}

// importing .scss files where Dark and Light theme used
@import './libs/mock-table/src/lib/table-test-lib.component.scss';
