@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: Roboto, sans-serif;
  background: #ffffff !important;
}

body.nb-theme-dark {
  background: #222b45 !important;
}

*:focus {
  outline: none !important;
}

nb-icon {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
  line-height: 1 !important;
  vertical-align: bottom;
}

*[nbButton]:focus {
  box-shadow: none !important;
}

nb-layout-header {
  & > nav.fixed {
    position: initial !important;
  }
}

nb-layout {
  & .cdk-overlay-container {
    z-index: 1040 !important;
  }
}

nb-card-body {
  background: inherit !important;
}

.mat-row:hover,
.mat-list-item:hover {
  background-color: #f5f5f5;
}

body.nb-theme-dark {
  .mat-row:hover,
  .mat-list-item:hover {
    background-color: #394158;
  }
}

table {
  width: 100%;
}

.mat-table {
  background: inherit !important;
}

.mat-row {
  height: 41px !important;
}

.mat-header-cell,
.mat-cell,
.mat-footer-cell {
  color: inherit;
  white-space: nowrap;
  padding-right: 8px !important;
  padding-left: 8px !important;
  &:last-of-type {
    padding-right: 24px !important;
  }
  &:first-of-type {
    padding-left: 24px !important;
  }
}

.mat-paginator {
  background: inherit !important;
  color: inherit !important;
}

.mat-paginator-icon {
  display: inline !important;
}

.mat-paginator-container {
  padding: 0 !important;
}

.mat-list-item,
.mat-list-option {
  color: inherit !important;
  height: auto !important;
  min-height: 40px !important;
}

.mat-list-item.mat-multi-line .mat-list-item-content,
.mat-list-option.mat-multi-line .mat-list-item-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-list-item-content {
  color: inherit !important;
  min-height: inherit !important;
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.mat-subheader {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.cdk-overlay-pane {
  max-width: unset !important;
}

body.nb-theme-dark {
  .mat-dialog-container,
  .mat-menu-panel {
    background: #222b45 !important;
  }
}

.mat-tooltip {
  margin: 8px !important;
}

.cdk-drag-preview {
  z-index: 10000 !important;
}
