<apw-ui-dialog>
  <ng-container header>
    <h5 class="h5 mx-auto">{{ 'filters.columnsSelect' | translate }}</h5>
  </ng-container>
  <ng-container body>
    <form autocomplete="off">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ 'filters.filterByName' | translate }}</mat-label>
        <input #input matInput type="text" (keyup)="filter(input.value)" />
        <mat-hint>{{ 'filters.columnsSelectHint' | translate }}</mat-hint>
      </mat-form-field>
    </form>
    <ng-container *ngIf="list | async as l">
      <mat-list *ngIf="filteredList | async as fl" cdkDropList (cdkDropListDropped)="drop(l, $event)">
        <ng-container *ngFor="let filter of fl; trackBy: trackBy">
          <mat-list-item class="hover:bg-inherit">
            <div *ngIf="filter.selected && (filterByName | async) === ''" cdkDrag class="flex flex-grow items-center">
              <mat-icon class="mr-2 cursor-move">reorder</mat-icon>
              {{ filter.labelKey | translate }}
            </div>
            <div *ngIf="!filter.selected || (filterByName | async) !== ''" class="flex flex-grow items-center">
              {{ filter.labelKey | translate }}
            </div>
            <button
              *ngIf="!filter.selected"
              mat-icon-button
              color="primary"
              (click)="add(l, filter.key)"
              [matTooltip]="'buttons.add' | translate"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              *ngIf="filter.selected"
              mat-icon-button
              color="warn"
              (click)="remove(l, filter.key)"
              [matTooltip]="'buttons.remove' | translate"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
  </ng-container>
  <ng-container footer>
    <button mat-stroked-button (click)="close()" class="mr-auto">
      {{ 'buttons.close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="applyData()" class="ml-2">
      {{ 'buttons.apply' | translate }}
    </button>
  </ng-container>
</apw-ui-dialog>
