<div [ngClass]="currentThemeClass">
  <footer id="footer">
    <div
      tabindex="0"
      aria-label="footer"
      class="
        focus:outline-none
        border-t border-b border-gray-200
        dark:border-gray-700
        py-16
      "
    >
      <div class="mx-auto container px-4 xl:px-12 2xl:px-4">
        <div class="lg:flex">
          <div class="w-full lg:w-1/3 mb-16 lg:mb-0 flex justify-center">
            <div>
              <span class="uppercase text-2xl my-font footer-nav-header"
                >stay connected</span
              >
              <div class="flex mt-6">
                <img
                  [class.hidden]="currentThemeClass === 'darkMode'"
                  src="assets/icons/f-icon-light.png"
                  alt="facebook_icon"
                  class="w-14 mx-1.5 cursor-pointer"
                  (click)='openFacebook()'
                  matTooltip="My Facebook"
                />
                <img
                  [class.hidden]="currentThemeClass === ''"
                  src="assets/icons/f-icon-dark.png"
                  alt="facebook_icon"
                  class="w-14 mx-2 cursor-pointer"
                  (click)='openFacebook()'
                  matTooltip="My Facebook"
                />

                <img
                  [class.hidden]="currentThemeClass === 'darkMode'"
                  src="assets/icons/l-icon-light.png"
                  alt="linkedin_icon"
                  class="w-14 mx-2 cursor-pointer"
                  (click)='openLinkedin()'
                  matTooltip="My LinkedIn"
                />
                <img
                  [class.hidden]="currentThemeClass === ''"
                  src="assets/icons/l-icon-dark.png"
                  alt="linkedin_icon"
                  class="w-14 mx-2 cursor-pointer"
                  (click)='openLinkedin()'
                  matTooltip="My LinkedIn"
                />

                <img
                  [class.hidden]="currentThemeClass === 'darkMode'"
                  src="assets/icons/gitlab-icon-light.png"
                  alt="gitlab_icon"
                  class="w-14 mx-2 cursor-pointer"
                  (click)='openGitlab()'
                  matTooltip="My GitLab"
                />
                <img
                  [class.hidden]="currentThemeClass === ''"
                  src="assets/icons/gitlab-icon-dark.png"
                  alt="gitlab_icon"
                  class="w-14 mx-2 cursor-pointer"
                  (click)='openGitlab()'
                  matTooltip="My GitLab"
                />
              </div>
            </div>
          </div>

          <div class="w-full lg:w-1/3 mb-16 lg:mb-0 flex justify-center text-center lg:text-left">
            <div>
              <span class="uppercase text-2xl my-font footer-nav-header"
                >extra</span
              >
              <ul>
                <li class="mt-6">
                  <a
                    class="
                      focus:outline-none
                      text-xl
                      lg:text-lg
                      leading-none
                      cursor-pointer
                      my-font
                      footer-nav-item
                    "
                    [routerLink]="['/privacyPolicy']"
                    >Privacy Policy</a
                  >
                </li>
                <li class="mt-6">
                  <a
                    href="mailto: varaksindp@gmail.com"
                    class="
                      focus:outline-none
                      text-md
                      lg:text-lg
                      leading-none
                      cursor-pointer
                      my-font
                      footer-nav-item
                    "
                    >Contact me</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="w-full lg:w-1/3 mb-16 lg:mb-0 flex justify-center text-center lg:text-left">
            <div>
              <span class="uppercase text-2xl my-font footer-nav-header"
                >navigate</span
              >
              <ul>
                <li class="mt-6">
                  <a
                    class="
                      focus:outline-none
                      text-xl
                      lg:text-lg
                      leading-none
                      cursor-pointer
                      my-font
                      footer-nav-item
                    "
                    [routerLink]="['/']"
                    >Main</a
                  >
                </li>
                <li class="mt-6">
                  <a
                    class="
                      focus:outline-none
                      text-xl
                      lg:text-lg
                      leading-none
                      cursor-pointer
                      my-font
                      footer-nav-item
                    "
                    [routerLink]="['/works']"
                    >Works</a
                  >
                </li>
                <li class="mt-6">
                  <a
                    class="
                      focus:outline-none
                      text-xl
                      lg:text-lg
                      leading-none
                      cursor-pointer
                      my-font
                      footer-nav-item
                    "
                    [routerLink]="['/about']"
                    >About me</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
