@import '../../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;

.my-font {
  font-family: My-Font, sans-serif;
}

footer {
  background: $light-theme-primary;
  .footer-nav-header {
    color: $light-theme-dark;
  }
  .footer-nav-item {
    color: black;
    &:hover {
      color: $light-theme-light;
      transition: 0.3s;
    }
  }
}

.darkMode {
  footer {
    background: $dark-theme-primary;
    .footer-nav-header {
      color: $dark-theme-dark;
    }
    .footer-nav-item {
      color: white;
      &:hover {
        color: $dark-theme-light;
        transition: 0.3s;
      }
    }
  }
}
