<apw-ui-dialog [small]="true">
  <ng-container header>
    <h5 class="h5 mx-auto">{{ 'filters.sorting' | translate }}</h5>
  </ng-container>
  <ng-container body>
    <mat-form-field appearance="fill" class="w-full mb-3">
      <mat-label>{{ 'filters.column' | translate }}</mat-label>
      <mat-select [(ngModel)]="key" required>
        <mat-option *ngFor="let column of def.columns" [value]="column.key">
          {{ column.labelKey | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group [(ngModel)]="order" required class="flex mb-3">
      <mat-button-toggle *ngFor="let sortBy of orders" [value]="sortBy" class="flex-grow">{{
        'filters.orderOrder.' + sortBy | translate
      }}</mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>
  <ng-container footer>
    <button mat-stroked-button (click)="close()" class="mr-auto">
      {{ 'buttons.close' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="applyData()" class="ml-2">
      {{ 'buttons.apply' | translate }}
    </button>
  </ng-container>
</apw-ui-dialog>
