@import 'fonts.scss';
@import '~@angular/material/theming';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;

.example-spacer {
  flex: 1 1 auto;
}

.my-font {
  font-family: My-Font, sans-serif;
}

.nav-item-hover:hover {
  color: $light-theme-light;
  transition: .3s;
}

.darkMode {
  .nav-item-hover:hover {
    color: $dark-theme-light !important;
    transition: .3s;
  }
}

// Nav menu for different screen sizes
.smallScreenMenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .bigScreenMenu {
    display: none;
  }

  .smallScreenMenu {
    display: block;
  }
}

.my-ss {
  background-color: white;
}

.mat-slide-toggle-thumb {
  width: 18px !important;
  height: 18px !important;
  transform: translate(0%, 0%);
  background-image: url('/assets/images/light-toggle-1.png') !important;
  background-origin: content-box;
  background-size: contain;
  background-position: center center;
}

.darkMode {
  .my-ss {
    background-color: black;
  }
  .mat-slide-toggle-thumb {
    background-image: url('/assets/images/dark-toggle.png') !important;
  }
}
