<!--------->
<!--header-->
<!--------->
<mat-toolbar color="primary">
  <span
    class="nav-item-hover my-font hover:text-blue-500 cursor-pointer"
    matTooltip="Hello, it's me"
    (click)="toPage('main')"
  >
    Denis Varaksin
  </span>
  <span class="example-spacer"></span>

  <!--  big screen menu-->
  <div class="bigScreenMenu">
    <span
      class="nav-item-hover my-font mx-4 text-lg cursor-pointer"
      (click)="toPage('main')"
    >
      Main
    </span>

    <span
      class="nav-item-hover nav-item my-font mx-4 text-lg cursor-pointer"
      (click)="toPage('works')"
    >
      Works
    </span>

    <span
      class="nav-item-hover my-font ml-4 mr-8 text-lg cursor-pointer"
      (click)="toPage('about')"
    >
      About me
    </span>
  </div>

  <!--  small screen menu-->
  <div class="smallScreenMenu">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div>
        <span
          class="nav-item-hover my-font mx-4 text-lg cursor-pointer"
          (click)="toPage('main')"
        >
          Main
        </span>
      </div>
      <div>
        <span
          class="nav-item-hover nav-item my-font mx-4 text-lg cursor-pointer"
          (click)="toPage('works')"
        >
          Works
        </span>
      </div>

      <div>
        <span
          class="nav-item-hover my-font mx-4 text-lg cursor-pointer"
          (click)="toPage('about')"
        >
          About me
        </span>
      </div>
    </mat-menu>
  </div>

  <!--  small screen -->
  <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
</mat-toolbar>
<div></div>
<!--------->
<!--body-->
<!--------->
<div id="routerOutlet" #routerOutlet>
  <router-outlet></router-outlet>
</div>
<!--------->
<!--footer-->
<!--------->
<table-test-footer></table-test-footer>
