@import '../../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;
.my-font {
  font-family: My-Font, sans-serif;
}

#about-page {
  background-color: $light-theme-dark;
  .dot {
    color: $light-theme-primary;
  }
  .about-cont {
    .about-cont-header {
      color: $light-theme-primary;
    }
    .about-cont-body {
      ul {
        list-style-type: none;
      }

      li {
        position: relative;
        margin: 0;
        padding-bottom: 1.7em;
        padding-left: 20px;
        a:hover {
          text-decoration: underline;
        }
      }

      li:before {
        content: '';
        background-color: $light-theme-primary;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 6px;
        width: 3px;
      }

      li:after {
        content: '';
        background: $light-theme-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 2px;
        height: 15px;
        width: 15px;
      }

      .about-cont-date {
        color: $light-theme-dark;
      }
    }
  }
}

.darkMode {
  #about-page {
    background-color: $dark-theme-dark;
    .dot {
      color: $dark-theme-primary;
    }
    .about-cont {
      .about-cont-header {
        color: $dark-theme-primary;
      }
      .about-cont-body {
        li:before {
          background-color: $dark-theme-primary;
        }
        li:after {
          background: $dark-theme-primary;
        }
        .about-cont-date {
          color: $dark-theme-light;
        }
      }
    }
  }
}
