<div [ngClass]="currentThemeClass">
  <section id="about-page">
    <div class="px-8 md:px-24 xl:px-44 py-16">
      <mat-card>
        <mat-card-header class="pb-3">
          <span class="text-3xl lg:text-5xl my-font"
          >About me<b class="dot">.</b></span
          >
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mx-10 pt-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="about-cont">
              <div class="about-cont-header my-font text-2xl lg:text-3xl">
                Education
              </div>
              <div class="about-cont-body pt-5">
                <ul>
                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a
                        href="https://www.technikum-wien.at/en/"
                        target="_blank"
                      >University of Applied Sciences Vienna</a
                      >
                    </div>
                    <div class="about-cont-date text-lg">
                      Austria, Vienna | 2017 - 2018
                    </div>
                    <div class="about-cont-desc text-lg">
                      ERASMUS exchange within Master's program
                      “Telecommunications and Internet Technologies”;
                    </div>
                  </li>
                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://www.utb.cz/en/" target="_blank"
                      >Tomas Bata University</a
                      >
                    </div>
                    <div class="about-cont-date text-lg">
                      Czech Republic, Zlin | 2016 - 2019
                    </div>
                    <div class="about-cont-desc text-lg">
                      Master's degree in Engineering Informatics with
                      distinction;
                    </div>
                  </li>
                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://urfu.ru/en/" target="_blank"
                      >Ural Federal University</a
                      >
                    </div>
                    <div class="about-cont-date text-lg">
                      Russia, Ekaterinburg | 2010 - 2015
                    </div>
                    <div class="about-cont-desc text-lg">
                      Bachelor's degree in Construction Engineering with
                      distinction.
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="about-cont">
              <div class="about-cont-header text-2xl lg:text-3xl my-font">
                Experience
              </div>
              <div class="about-cont-body pt-5">
                <ul>
                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://www.siemens.com/" target="_blank">Siemens</a>
                    </div>
                    <div class="about-cont-date text-lg">
                      Czech Republic, Prague | 2022 - present
                    </div>
                    <div class="about-cont-desc text-lg">
                      Application engineer, development of web applications in Angular for Siemens Edge devices,
                      development of reusable components for corporate Siemens DIFA and Mindsphere design systems.
                      Building application skeleton and architecture based on project requirements.
                      Development and integration of business logic for Front End part of the application,
                      unit and integration testing, code reviews, working with Angular, RESTful API, Docker, Amazon AWS, GitLab CI/CD
                      and more.
                    </div>
                  </li>

                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://www.monetplus.cz/" target="_blank">Monet+</a>
                    </div>
                    <div class="about-cont-date text-lg">
                      Czech Republic, Zlin | 2020 - 2022
                    </div>
                    <div class="about-cont-desc text-lg">
                      Angular developer, involved in development of web
                      applications (banking, transport) as a front-end, based on
                      integration of new business logic to already existing or
                      new projects. Working with TypeScript, RxJS, Tailwind,
                      REST API, GraphQL, Material Design, Nebular and more;
                    </div>
                  </li>

                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://www.marketsoul.cz/" target="_blank">Marketsoul</a>
                    </div>
                    <div class="about-cont-date text-lg">
                      Czech Republic, Zlin | 2019 - 2020
                    </div>
                    <div class="about-cont-desc text-lg">
                      Web developer working with PHP, Wordpress, HTML,
                      Bootstrap, SCSS, SQL, SEO optimization on multiple
                      platforms, web-sites and e-shops;
                    </div>
                  </li>

                  <li>
                    <div class="about-cont-name my-font text-xl lg:text-2xl">
                      <a href="https://www.att.com/" target="_blank">AT&T</a>
                    </div>
                    <div class="about-cont-date text-lg">
                      Czech Republic, Brno | 2018 - 2019
                    </div>
                    <div class="about-cont-desc text-lg">
                      Technical Support Executive
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
