<div class="float-right text-right max-w-full">
  <ng-container *ngIf="moduleType && type">
    <button
      *ngIf="data?.id"
      mat-button
      color="primary"
      class="max-w-full overflow-hidden overflow-ellipsis"
      [matTooltip]="'filters.editBookmark' | translate"
      (click)="saveView(saveDialog)"
    >
      {{ data.name }}
    </button>
    <button
      *ngIf="!data?.id"
      mat-icon-button
      color="primary"
      [matTooltip]="'filters.addBookmark' | translate"
      (click)="saveView(saveDialog)"
    >
      <mat-icon>star_border</mat-icon>
    </button>
    <button mat-icon-button color="primary" [matTooltip]="'filters.bookmarks' | translate" (click)="openView(listDialog)">
      <mat-icon>folder_open</mat-icon>
    </button>
  </ng-container>
  <button mat-icon-button color="primary" [matTooltip]="'filters.showDefaultView' | translate" (click)="showDefaultView()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button color="primary" [matTooltip]="'filters.reloadData' | translate" (click)="reloadData()">
    <mat-icon>cached</mat-icon>
  </button>
</div>
<div class="float-left text-left">
  <button [disabled]="!columns" mat-icon-button color="primary" [matTooltip]="'filters.editColumns' | translate" (click)="openColumns()">
    <mat-icon>view_column</mat-icon>
  </button>
  <button [disabled]="!order" mat-icon-button color="primary" [matTooltip]="renderedOrder | async" (click)="openOrder()">
    <mat-icon>sort_by_alpha</mat-icon>
  </button>
  <button
    [disabled]="availableFilters.length === 0"
    mat-icon-button
    color="primary"
    [matTooltip]="'filters.addFilter' | translate"
    (click)="addFilter(addFilterTemplate)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="clear-both text-left w-100">
  <mat-chip-list [selectable]="false">
    <mat-chip
      *ngFor="let activeFilter of activeFilters"
      (click)="open(activeFilter)"
      class="overflow-hidden overflow-ellipsis whitespace-nowrap cursor-pointer text-xs"
    >
      {{ activeFilter.def.labelKey | translate }}{{ 'filters.filterDelimiter' | translate }}
      {{
        (activeFilter.def.render(activeFilter.values) | async)?.labelKey
          | translate: (activeFilter.def.render(activeFilter.values) | async)?.params
      }}
      <mat-icon *ngIf="!activeFilter.def.required" matChipRemove (click)="remove(activeFilter)">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<ng-template #addFilterTemplate let-data>
  <apw-ui-dialog>
    <ng-container header>
      <h5 class="h5 mx-auto">
        {{ 'filters.addFilter' | translate }}
      </h5>
    </ng-container>
    <ng-container body>
      <form autocomplete="off">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'filters.filterByName' | translate }}</mat-label>
          <input #input matInput type="text" (keyup)="data.filter(input.value)" />
        </mat-form-field>
      </form>
      <div *ngIf="data.loading | async" class="text-center">
        <apw-ui-spinner></apw-ui-spinner>
      </div>
      <mat-list>
        <ng-container *ngFor="let filter of data.list | async">
          <mat-list-item>
            <div mat-line (click)="data.select(filter)" class="cursor-pointer">{{ filter.label }}</div>
            <button mat-icon-button color="primary" [matTooltip]="'buttons.add' | translate" (click)="data.select(filter)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
    <ng-container footer>
      <button mat-stroked-button (click)="data.close()" class="mr-auto">
        {{ 'buttons.close' | translate }}
      </button>
    </ng-container>
  </apw-ui-dialog>
</ng-template>

<ng-template #saveDialog let-data>
  <apw-ui-dialog>
    <ng-container header>
      <h5 class="h5 mx-auto">{{ (data.id ? 'view.saveDialog.editTitle' : 'view.saveDialog.addTitle') | translate }}</h5>
      <apw-ui-error-info *ngIf="data.error | async" [message]="'errors.common' | translate"></apw-ui-error-info>
    </ng-container>
    <ng-container body>
      <form autocomplete="off">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'view.saveDialog.nameLabel' | translate }}</mat-label>
          <input #input matInput type="text" [value]="data.name" (keyup)="data.filter(input.value)" />
        </mat-form-field>
      </form>

      <ng-container *ngIf="!data.id">
        <div *ngIf="(data.loading | async) === false" class="pb-3 text-center">
          <h6 class="h6 m-0">{{ 'view.saveDialog.list' | translate }}</h6>
        </div>
        <div *ngIf="data.loading | async" class="text-center">
          <apw-ui-spinner></apw-ui-spinner>
        </div>
        <mat-list>
          <ng-container *ngFor="let webFilter of data.list | async">
            <mat-list-item>
              <div mat-line class="cursor-pointer" (click)="data.select(webFilter)">{{ webFilter.name }}</div>
              <button mat-icon-button color="primary" [matTooltip]="'buttons.saveAs' | translate" (click)="data.select(webFilter)">
                <mat-icon>save</mat-icon>
              </button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </ng-container>

      <ng-container *ngIf="data.id">
        <div class="py-3 text-left">
          <h6 class="h6 mx-0 mt-0 mb-2 block">Filters</h6>
          <span *ngFor="let activeFilter of activeFilters" class="opacity-50">
            {{ activeFilter.def.labelKey | translate }}:
            {{
              (activeFilter.def.render(activeFilter.values) | async)?.labelKey
                | translate: (activeFilter.def.render(activeFilter.values) | async)?.params
            }}
          </span>
        </div>
        <div class="pb-3 text-left">
          <h6 class="h6 mx-0 mt-0 mb-2 block">Order</h6>

          <span class="max-w-full overflow-hidden overflow-ellipsis opacity-50">{{ renderedOrder | async }}</span>
        </div>
        <div class="pb-3 text-left">
          <h6 class="h6 mx-0 mt-0 mb-2 block">Columns</h6>
          <span *ngFor="let column of renderedColumns.columns" class="opacity-50">{{ column.labelKey | translate }}, </span>
        </div>
      </ng-container>
    </ng-container>
    <ng-container footer>
      <button mat-stroked-button (click)="data.close()" class="mr-auto">
        {{ 'buttons.close' | translate }}
      </button>
      <button *ngIf="data.id" mat-raised-button color="warn" (click)="data.delete(data.id)" class="ml-2">
        {{ 'buttons.delete' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="data.save(input.value, data.id)" class="ml-2">
        {{ (data.saveAs ? 'buttons.saveAs' : 'buttons.save') | translate }}
      </button>
    </ng-container>
  </apw-ui-dialog>
</ng-template>

<ng-template #listDialog let-data>
  <apw-ui-dialog>
    <ng-container header>
      <h5 class="h5 mx-auto">
        {{ 'view.listDialog.title' | translate }}
      </h5>
    </ng-container>
    <ng-container body>
      <form autocomplete="off">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ 'view.listDialog.name' | translate }}</mat-label>
          <input #input matInput type="text" (keyup)="data.filter(input.value)" />
        </mat-form-field>
      </form>
      <div *ngIf="data.loading | async" class="text-center">
        <apw-ui-spinner></apw-ui-spinner>
      </div>
      <mat-list>
        <ng-container *ngFor="let webFilter of data.list | async">
          <mat-list-item>
            <div mat-line class="cursor-pointer" (click)="data.select(webFilter)">{{ webFilter.name }}</div>
            <button mat-icon-button color="primary" [matTooltip]="'buttons.navigate' | translate" (click)="data.select(webFilter)">
              <mat-icon>double_arrow</mat-icon>
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
    <ng-container footer>
      <button mat-stroked-button (click)="data.close()" class="mr-auto">
        {{ 'buttons.close' | translate }}
      </button>
    </ng-container>
  </apw-ui-dialog>
</ng-template>
