<apw-ui-dialog [small]="true">
  <ng-container header>
    <h5 class="h5 mx-auto">{{ 'filters.filterTitle' | translate: { label: labelKey | translate } }}</h5>
  </ng-container>
  <ng-container body>
    <div class="px-3">
      <form [formGroup]="form" autocomplete="off">
        <mat-checkbox color="primary" formControlName="asRelative" class="mb-3">
          {{ 'filters.asRelative' | translate }}
        </mat-checkbox>
        <div formGroupName="absolute" *ngIf="!form.value.asRelative">
          <mat-form-field appearance="fill" class="w-full mb-3">
            <mat-label>{{ 'filters.from' | translate }}</mat-label>
            <input #input matInput formControlName="from" [mask]="dateMask" [dropSpecialCharacters]="false" required />
            <mat-hint>{{ 'dateFormat' | translate }}</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full mb-3">
            <mat-label>{{ 'filters.to' | translate }}</mat-label>
            <input #input matInput formControlName="to" [mask]="dateMask" [dropSpecialCharacters]="false" required />
            <mat-hint>{{ 'dateFormat' | translate }}</mat-hint>
          </mat-form-field>
        </div>
        <div formGroupName="relative" *ngIf="form.value.asRelative">
          <mat-form-field appearance="fill" class="w-full mb-3">
            <mat-label>{{ 'filters.relativeType' | translate }}</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let option of typeOptions" [value]="option.key">
                {{ option.labelKey ? (option.labelKey | translate) : option.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="isLastXDaysType(form.value.relative.type)" appearance="fill" class="w-full mb-3">
            <mat-label>{{ 'filters.lastDays' | translate }}</mat-label>
            <input #input matInput type="number" formControlName="days" required />
          </mat-form-field>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container footer>
    <button mat-stroked-button (click)="close()" class="mr-auto">
      {{ 'buttons.close' | translate }}
    </button>
    <button *ngIf="!creating && !required" mat-raised-button color="warn" (click)="remove()" class="ml-2">
      {{ 'buttons.remove' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="apply()"
      [disabled]="form.value.asRelative ? form.controls.relative.invalid : form.controls.absolute.invalid"
      class="ml-2"
    >
      {{ 'buttons.apply' | translate }}
    </button>
  </ng-container>
</apw-ui-dialog>
