<div [ngClass]='currentThemeClass'>
  <section id="privacy-page">
    <div class="px-8 md:px-24 xl:px-44 py-16">
      <mat-card>
        <mat-card-header class="pb-3">
          <span class="text-3xl lg:text-5xl my-font"
          >Privacy policy<b class="dot">.</b></span
          >
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mx-10 pt-4">
          <div class='text-xl lg:text-2xl'>
            Current website protects data and establishing a safe and transparent online environment for users.
            Also current website doesnt't colelct any private data and also doesn't share this data to any other sources.
            <br>
            <br>
            Moreover website meets Europe Economic Area (EEA)’s and General Data Protection Regulation (GDPR)
            required privacy policy over data handling practices and users’ rights over their data.
            <br>
            <br>
            Our website selectively uses cookies to distinguish you from other users of our website.
            This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.
            According to EU Cookies Law, if users cookies are used - user will be immediately notified about it with a pop-up window.
            <br>
            <br>
            Our site may, from time to time, contain links to and from the third party websites.
            If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.
            Please check these policies before you submit any personal data to this website.
            <br>
            <br>
            For any questions please <a href="mailto: varaksindp@gmail.com" class='link'>contact me</a>.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
