@import '../../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;

.my-font {
  font-family: My-Font, sans-serif;
}

#privacy-page {
  background-color: $light-theme-dark;
  .dot {
    color: $light-theme-primary;
  }
  .link {
    color: $light-theme-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

.darkMode {
  #privacy-page {
    background-color: $dark-theme-dark;
    .dot {
      color: $dark-theme-primary;
    }
    .link {
      color: $dark-theme-primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
