<div [ngClass]="currentThemeClass">
  <section id="works-detail-page">
    <div class="px-8 md:px-24 xl:px-44 py-16">
<!--      <mat-card *ngIf="post | async">-->
<!--        <mat-card-header class="pb-3" *ngIf="post | async as post">-->
<!--          <span class="text-3xl lg:text-5xl my-font">{{post.title}}<b class="dot">.</b></span>-->
<!--        </mat-card-header>-->
<!--        <mat-divider></mat-divider>-->

<!--        <div *ngIf="worksDetailLoading === true" class="py-4 px-4 text-center flex justify-center">-->
<!--          <mat-spinner></mat-spinner>-->
<!--        </div>-->

<!--        <mat-card-content class="mx-4 sm:mx-10 pt-4">-->
<!--          <div [ngClass]="{ 'hidden': worksDetailLoading === true }">-->
<!--            <div *ngFor="let postData of (post | async)?.data | keys">-->
<!--              <div class='text-2xl py-4 my-font'>{{postData.value.title}}</div>-->
<!--              <div class='text-xl'>{{postData.value.text }}</div>-->
<!--              <div class='py-4 text-center flex justify-center'>-->
<!--                <img src='{{postData.value.image}}' alt='{{postData.value.title}}' class='w-max'>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->

    </div>
  </section>
</div>



