<mat-card>
  <apw-filters-filters
    header
    [columnsDef]="table.columnsDef | async"
    [orderDef]="table.sortDef | async"
    [filtersDef]="table.filtersDef | async"
    [columns]="(table.columnsData | async)?.columns"
    [order]="(table.searchData | async)?.sort"
    [filters]="(table.searchData | async)?.filters"
    (columnsChanged)="table.columnsChanged($event)"
    (orderChanged)="table.sortChanged($event)"
    (filtersChanged)="table.filtersChanged($event)"
    (useDefault)="table.useDefaultView()"
    (reload)="table.reload()"
  ></apw-filters-filters>

  <table mat-table [dataSource]="(data | async)?.content" class="w-full">
    <ng-container
      [ngSwitch]="column.key"
      *ngFor="let column of (table.columnsDef | async)?.columns"
    >
      <ng-container *ngSwitchDefault matColumnDef="{{ column.key }}">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.labelKey | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="text-right">
        <apw-ui-spinner *ngIf="table.loading | async"></apw-ui-spinner>
      </th>
      <td mat-cell *matCellDef="let element" class="text-right">
        <button mat-icon-button color="primary" (click)="toDetail(element)">
          <mat-icon>description</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="(columns | async)?.columns"></tr>
    <tr mat-row *matRowDef="let row; columns: (columns | async)?.columns"></tr>
  </table>

  <apw-filters-paginator
    footer
    [page]="(data | async)?.page"
    (pageChanged)="table.pageChanged($event)"
  ></apw-filters-paginator>
</mat-card>
