@import '../fonts.scss';
$light-theme-primary: #90caf9;
$light-theme-light: #c3fdff;
$light-theme-dark: #5d99c6;

$dark-theme-primary: #607d8b;
$dark-theme-light: #8eacbb;
$dark-theme-dark: #34515e;
.my-font {
  font-family: My-Font, sans-serif;
}

#works-detail-page {
  background-color: $light-theme-dark;
  .dot {
    color: $light-theme-primary;
  }
  mat-card-content {
    min-height: 350px;
  }
}

.darkMode {
  #works-detail-page {
    background-color: $dark-theme-dark;
    .dot {
      color: $dark-theme-primary;
    }
  }
}
